$yellow: #fed136;
$blue: #0048bd;
$black: #31393c;
$grey: #6c757d;
$light-grey: #dddddd;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: $grey;
    font-size: 16px;
    font-family: 'Asap', sans-serif;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

h1, h2, h3 {
    margin-bottom: .5em;
    color: $black;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.75rem;
}

p {
    margin-bottom: 1rem;
}

.highlight {
    &:after {
        position: absolute;
        content: ' ';
        background: linear-gradient(to right, rgba($yellow,0.9) 0, rgba($yellow,0.8) 70% , rgba($yellow,0.1) 100%);
        left: 5px;
        right: -20px;
        top: 5px;
        bottom: 5px;
        z-index: -1;
        transform: skewX(10deg) rotate(-.75deg);
    }
    
    font-weight: bold;
    position: relative;
    font-size: 1.2rem;
    color: $black;
    display: inline-block;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

section {
    padding: 3rem 0;
    
    .section-header {
        text-align: center;
        margin-bottom: 3rem;

        h2 {
            margin-bottom: 0;
        }

        .sub-header {
            font-size: 1.2rem;
            color: $black;
        }
    }

    &.secondary {
        padding: 0;
        background-color: $blue;
        display: flex;
        .slider-content {
            width: 50%;
            display: flex;
            flex-direction: column;
            position: relative;

            &:after {
                content: "";
                right: -20px;
                top: 0;
                bottom: 0;
                border-right: 50px dashed $blue;
                position: absolute;
                transform: skewX(2deg);
                z-index: 1;
            }
        }

        .section-header {
            display: flex;
            flex: 1;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 4rem;
            margin-bottom: 0;
        }
        .slider-controls {
            // border: 1px solid rgba(255,255,255,0.4);;
            width: 120px;
            display: flex;
            flex-wrap: nowrap;
            margin-left: auto;
            z-index: 2;
        }
        .slider-btn {
            width: 60px;
            height: 60px;
            color: white;
            font-size: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;

            &:hover {
                background-color: $yellow;
                color: $black;
            }
            
            &.left {
                border-right: 1px solid $yellow;
            }
            &.right {
                border-left: 1px solid $yellow;
            }
        }


        h2, .sub-header {
            color: white;
        }

        .slider-image {
            width: 50%;
            background-image: url(https://images.unsplash.com/photo-1542294360-2ac1e8a9cbfa?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5be83e366af0e9be572796318b3685c0&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb);
            background-size: cover;
            height: 500px;
        }
    }
}

.site-nav {
    &.backgrounded {
        background: $black;
        padding: .5rem;
    }

    padding: 1.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    transition: background .25s, padding .25s;
    z-index: 5;

    ul {
        list-style: none;
        display: flex;
        align-items: center;

        li {
            padding: 0 1rem;

            a {
                color: white;
                text-decoration: none;

                &:hover {
                    color: $yellow;
                }
            }
        }

        .logo {
            margin-right: auto;

            a {
                color: $yellow;
                font-weight: bold;
                font-size: 1.55rem;
                font-style: italic;
            }
        }
    }
}

.cover {
    height: 100vh;
    background: $black url(./img/cover.jpg);
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 40px;

    &:after {
        content:"";
        height: 80px;
        background-color: white;
        width: 100%;
        position: absolute;
        bottom: -40px;
        transform: rotateZ(2deg);
    }


    .headline {
        max-width: 740px;

        h1 {
            font-size: 5rem;
            line-height: 1;
            font-style: italic;
            margin-bottom: 2rem;
            color: white;
        }

        h2 {
            line-height: 1;
            color: $yellow;
            padding-left: 10px;
            margin-bottom: 3rem;
        }

        p {
            padding-left: 10px;
        }

        .btn {
            background-color: $yellow;
            padding: 1rem 2rem;
            color: $black;
            display: inline-block;
            font-weight: bold;
            border-radius: 5px;
            font-size: 1.2rem;
            text-decoration: none;
        }
    }
}



.story-item {
    &.inverted {
        .words {
            order: 2;
        }

        .image {
            margin-right: 40px;
            margin-left: 0;

            &:after {
                left: -40px;
            }
        }


    }

    padding: 2rem 100px;
    display: flex;
    justify-content: space-evenly;

    .image {
        position: relative;
        width: 280px;
        margin-left: 40px;

        &:after {
            position: absolute;
            content: ' ';
            width: 289px;
            height: 289px;
            background: linear-gradient(to bottom, rgba($yellow, .9) ,rgba($yellow, .1) );
            border-radius: 50%;
            left: 40px;
            bottom: -5px;
            z-index: -1;
        }

        img {
            width: 100%;
            display: inline-block;
        }
    }

    .words {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 48%;
    }

}

.feature-row {
    display: flex;
    flex-wrap: wrap;

    .feature {
        width: calc(100%/3.3);
        padding: 2rem;
        margin: 0 1rem 4rem 1rem;
        box-shadow: 1px 56px 84px -61px rgba(0,0,0,0.22);
        background-color: white;
        border: 5px solid transparent;
        transition: border-color .5s;
    
        &:hover {
            border-color: $yellow;

            .feature-number {
                color: $yellow;
            }
        }

        .feature-number {
            font-size: 4rem;
            font-weight: 200;
            color: $light-grey;
            transition: color .5s;
            }
    }
}